<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Products Management" verbose="1">

    <test name="Create New Product [Chrome]">
        <parameter name="browser" value="chrome"/>
    </test>


    <test name="Create New Product [Firefox]">
        <parameter name="browser" value="firefox"/>
    </test>


    <test name="Create New Product [IE]">
        <parameter name="browser" value="ie"/>
    </test>

</suite>